html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

p {
  text-align: justify;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.main-section img,
.main-section video {
  margin-top: 20px;
  max-width: 95%;
}

.short {
  margin-top: 20px;
  max-width: 10%;
}

#navbar {
  position: fixed;
  border-right: 3px solid rgba(0, 22, 22, 0.4);
  min-width: 290px;
  width: 300px;
  height: 100%;
  left: 0px;
}

.circular-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/Me.jpeg');
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

header {
  color: black;
  text-align: center;
  font-size: 1.8em;
}

#main-doc {
  position: absolute;
  left: calc(50% - -150px);
  transform: translateX(-50%);
  padding: 20px;
  font-size: larger;
  width: 50vw;
  max-width: 1000px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  width: 100%;
}

#navbar a {
  text-decoration: none;
  color: #4d4e53;
  display: block;
  padding: 10px 30px;
}

@media only screen and (min-width: 1500px) {
  #main-doc {
    width: 85vw;
  }
}

@media only screen and (max-width: 815px) {
  #navbar {
    top: 10;
    position: absolute;
    width: 100%;
    max-height: 275px;
    border: none;
    border-bottom: 2px solid;
  }

  #navbar ul {
    border: 1px solid;
    height: 215px;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 280px;
  }
}